.btn-mycolor {
  background-color: #C09958 !important;
  border-color: #C09958 !important;
  outline: #C09958 !important;
  box-shadow: none !important;
  color: white !important;
}
.btn-mycolor:hover {
  background-color: #C09958;
  border-color: #C09958 !important;
  outline: #C09958 !important;
  box-shadow: none !important;
  color: white;
}

.btn-outline-mycolor {
    color: #21ce99 !important;
    background-color: transparent;
    background-image: none;
    border-color: #21ce99 !important;
}

.btn-outline-mycolor:hover {
    color: white !important;
    background-color: #21ce99 !important;
    background-image: none;
    border-color: #21ce99 !important;
}

#cancel:hover #cancel-icon {
  color: white !important;
}

.btn-outline-mycolor:focus,.btn-outline-mycolor:active {
   outline: #21ce99 !important;
   box-shadow: none;
}

.btn-mycolor:focus,.btn-mycolor:active {
   outline: #21ce99 !important;
   box-shadow: none;
}
a:hover{
    text-decoration: none;
}

.my-ul {
    list-style-type: none;
}
.my-ul-list {
    padding-top: 10px;
    padding-top: 10px;
}
.custom-bg {
  background: #1c1b1b !important;
}
.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid white;
  background: transparent;
  color: white;
  font-family: 'Cabin', sans-serif;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color: white;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color: white;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: white;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:0%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
